<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Whatsapp Voice Recorder </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let f of storedFileNames" (click)="playFile(f)">
      {{f}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <span *ngIf="!recording"> Press and hold to record </span>
        <span *ngIf="recording"> {{durationDisplay}} </span>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" #recordbtn>
          <ion-icon name="mic-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
